*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(315deg, #7f5a83 0%, #094d7e 74%);
}



h1{
    position: relative;
    font-size: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

h2{
    margin-left: 2.5rem;
    font-size: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

input{
    position: relative;
    width: 120%;
    left: -8rem;
    padding: 0.3rem;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

strong{
    position: relative;
    right: 5rem; 
    font-size: 20px;
}

img{
    cursor:pointer;
}

.wrapper{
    position:relative;
}

.header-p{
    position: relative;
    font-size: 25px;
    left: -5rem;
}


.header{
    margin-bottom: 1.5rem;
}

.bottom{
    display: flex;
    flex-direction: column;
}


.answer{
    position:absolute;
    margin-left: 2.3rem;
    margin-top: 5.3rem;
    font-size: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

.answer2{
    display:none;
    position:absolute;
    font-size: 20px;
    right:25rem;
    top:21.6rem;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.error{
    position: absolute;
    margin-left: -1rem;
    font-size: 20px;
    bottom: -1rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #00ff85;
}

.shake-animation {
    animation: shake 1s;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-10px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(10px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-20px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(20px, 0, 0);
    }
  }